/*login*/
html{
  height:100%;
}
.login{
	background: url(../images/bg.jpg) no-repeat center 0;
	background-size: cover;
	min-height: 100%;
	position: relative;
	padding-bottom: 44px;
}
.lg-head{
	background: #41454b;
	height: 64px;

}
.logo1{
	padding-top: 5px;
	display: inline-block;
}
.logo1 img{
	height: 56px;
}
.boot{
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 44px;
	line-height: 42px;
	background: #3f4044;
	color:#9b9b9b;
	overflow: hidden;
}
.boot .list-boot{
	float: left;
	margin-top: 14px;
}
.boot .list-boot a{
	float: left;
	padding: 0 10px;
	border-left:1px solid #9b9b9b;
	line-height: 1.2;
}
.boot .list-boot a,
.boot .list-boot a:visited{
	color: #9b9b9b;
}
.boot .list-boot a:first-child{
	border-left: 0;
	padding-left: 0;
}

.user{
	width: 500px;
	position: relative;
	top:30px;
	margin: 0 auto;
	background: #333;
	background: rgba(0,0,0,0.6);
	padding: 20px 0 25px;
	z-index: 1000;
}
.icon-exchange{
	background: url(../images/exchange.png) no-repeat center center;
	background-size: 100%;
	width: 30px;
	height: 26px;
}
.user .icon-exchange{
	position: absolute;
	top:25px;
	right: 30px;
}
.user .tit{
	text-align: center;
	margin-bottom: 10px;
	font-size: 26px;
	color: #fff;
}
.lg-box{
	width:382px;
	margin:0 auto;
}
.lg-box li{
	margin: 22px 0;
}

.grp-tank{
	overflow: hidden;
	border-radius: 6px;
}
.group{
	display: table;
	overflow: hidden;
	background: #fff;
	width: 100%;
}
.group .label{
	height: 100%;
	background: #ffd1b1;
	width: 44px;
}
.group .last{
	width: 6em;
}

.group input{
	height: 44px;
	line-height: 30px;
	padding: 5px 15px;
	border: none;
	background: #fff;
}
.icon-p{
	background: url(../images/login.png) no-repeat center 3px;
	width:30px;
	height: 30px;
	margin-left: 8px;
	margin-top: 2px;
}
.icon-p.p2{
	background-position:center -62px;
}
.icon-p.p3{
	background-position:center -130px;
}

.fm-tips{
	color: #fff;
	font-size: 13px;
}
.but-box{
	margin-top: 15px;
}
.btn-submit{
	background: #ff6600;
	line-height: 50px;
	height: 50px;
	border: none;
	border-radius: 6px;
	font-size: 24px;
	color: #fff;
	padding: 0 15px;
	min-width: 165px;
	cursor:pointer;
}
.getcode{
	color: #ff6a00;
	font-size: 26px;
	line-height: 44px;
	display: inline-block;
	padding-left: 10px;
}
.btn-send{
	background-color: #e88844;
	color: #fff;
	padding: 0 5px;
	height: 100%;
	width: 100%;
	line-height: 44px;
}

/*忘记密码*/
.step{
	width:800px;
	margin:0 auto;
	background: #fff;
	margin-top: 40px;
	padding: 30px 20px 50px;
}
.bread{
	overflow: hidden;
	margin-bottom: 20px;
}
.bread li{
	float: left;
	padding:0 15px;
	line-height: 44px;
	font-size: 22px;
	color: #808080;
}
.bread li.visited{
	color: #ff6a00;
}
.icon-arr{
	background: url(../images/arr.png) no-repeat center -79px;
	width:120px;
	height: 44px;
}
.visited+li .icon-arr{
	background-position:center 0;
}
.table-reset th,
.table-reset td{
	padding:15px 10px;
	font-size: 16px;
}
.table-reset th{
	text-align: right;
	width: 160px;
	font-weight: normal;
	color: #808080;
}
.code-num{
	font-size: 25px;
	color: #ff6a00;
}
.code-num+.input-box{
	margin-right: 80px;
}
.btn-code{
	background:#e88844;
	line-height: 34px; 
	color: #fff;
	width: 100px;
	cursor: pointer;
}
.btn-code+.input-box{
	margin-right: 120px;
}

/*个人中心*/
.limiter{
	width: 1024px;
	margin: 0 auto;
}
.navbar{
	height: 36px;
	line-height: 36px;
	font-size: 15px;
}
.header{
	height: 50px;
	background-color: #90c31f;
	overflow: hidden;
	color: #fff;
}
.main{
	padding-bottom: 80px;
}

.navbar .lft span{
	margin-right: 44px;
}
.navbar .rt a{
	padding-left:12px;
	margin-left: 12px;
	display: inline-block;
	line-height: 1.2;
}
.navbar .rt a+a{
	border-left: 1px solid #6a6c6d;
}
.icon-phone{
	background: url(../images/phone.png) no-repeat center center;
	width: 10px;
	height: 16px;
	margin-right: 5px;
	vertical-align: middle;
}

.header .logo{
	display: inline-block;
	margin-top:7px;
}
.header .user-info{
	line-height: 24px;
	padding-top: 19px;
}


.footer{
	color: #cad0de;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.footer  a,
.footer  a:visited{
	color: #cad0de;
}

.footer .copyright{
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding:25px 0;
}
.footer .copyright span{
	display: inline-block;
	padding:0 10px;
	color: #666;
}
.footer .copyright span+span{
	border-left:1px solid #666;
}
.wt{
	background-color:#fff;
}

/**/
.tt{
	padding: 20px;
	text-align: center;
	position: relative;

}
.tt strong{
	font-size: 30px;
	color: #666;
	line-height: 58px;
}
.tt .account {
	position: absolute;
	left: 40px;
	bottom: 0;
	color: #666666;
	line-height: 50px;
	padding: 0 25px;
	border:1px solid #cccccc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 16px;
}
.block .tit span{
	display: inline-block;
	font-weight: bold;
	line-height: 36px;
	width: 130px;
	padding-left: 18px;
	font-size: 16px;
	color: #fff;
	background: url(../images/title.png) no-repeat center center;
}
.inner-box{
	padding:25px 85px;
}

.con-tips em{
	font-size: 18px;
}
.list-btn{
	margin-right: -35px;
}
.list-btn li{
	float: left;
	width: 25%;
	padding-right: 35px;
}
.inner-box .list-btn{
	padding-top: 26px;
	padding-bottom: 26px;
}
.btn-size{
	padding:8px 0;
	width: 100%;
	border: 1px solid #9c9c9c;
	font-size: 18px;
	position: relative;
	cursor: pointer;
}
.btn-size em{
	font-weight: bold;
}
.btn-size p{
	font-size: 14px;
	color: #ff6600;
}
.btn-size.selected{
	border-color:#e40077;
	color: #e40077;
}
.btn-size.selected p{
	color: #e40077;
}
.btn-size.recom:before {
	content: "";
	display: inline-block;
	background: url(../images/recom.png) no-repeat center center;
	background-size: 100% 100%;
	width: 40px;
	height: 27px;
	position: absolute;
	top: -5px;
	left: -5px;
}
.list-btn4 .btn-size.selected:after{
	content: "";
	display: inline-block;
	background: url(../images/trg.png) no-repeat center center;
	background-size: 100% 100%;
	width: 30px;
	height: 16px;
	position: absolute;
	bottom: -29px;
	left: 42%;
}
.mth-box{
	background: #fcfcfc;
	padding:10px 70px;
	border: 1px solid #ddd;
	margin-bottom: 30px;
}
.block .total{
	color: #ff6600;
	font-size: 30px;
	font-weight: bold;
}
.block .del{
	color: #999;
	font-size: 18px;
	margin-right:25px;
	text-decoration: line-through;
}
.dl-guid{
	line-height: 1.8;
	color: #666;
}
.dl-guid dt{
	font-weight: bold;
}

.pay-title{
	padding:20px 32px 5px;
}
.pay-title h5{
	font-size: 24px;
}
.pay-title p{
	font-size: 18px;
	margin-top: 10px;
}
.pay-doc{
	padding:20px 32px;
	background-color: #fff;
}
.tb-pay-tt{
	line-height: 42px;
	padding:0 15px;
	background-color: #90c31f;
	color: #fff;
	font-size: 16px;
}

.tb-pay{
	width: 100%;
	text-align: center;
}
.tb-pay th,
.tb-pay td{
	height:42px;
	vertical-align: middle;
}
.tb-pay th{
	background-color: #e5e8de;
	font-weight: normal;
}
.tb-pay td{
	border: 1px solid #e5e8de;
	height: 60px;
}
.pay-pad dt{
	height:42px;
	background-color: #e5e8de;
	line-height: 42px;
	padding:0 15px;
}
.pay-pad dd{
	padding:12px 15px;
	border:1px solid #e5e8de;
}

.label{
	display: inline-block;
	padding: 8px 15px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.label.on{
	border:2px solid #e40077;
	padding:7px 14px;
}
.label [type=radio]{
	vertical-align: middle;
	width: 16px;
	height: 16px;
}
.label+.label{
	margin-left: 25px;
}
.icon-pay{
	background: url(../images/pay1.png) no-repeat center center;
	background-size: 100% 100%;
	width: 42px;
	height: 42px;
	margin-top: -2px;
	vertical-align: middle;
}
.icon-pay.pay2{
	background-image: url(../images/pay2.png);
}
.icon-pay.pay3{
	background-image: url(../images/pay3.png);
}
.btn-line{
	height: 48px;
	line-height: 48px;
	min-width: 200px;
}


.cover{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 300;
}
.cover .alert{
  position: absolute;
  background-color: #fff;
  padding: 10px 0;
  top:42%;
  left: 50%;
  margin-left: -225px;
  border-radius: 10px;
  overflow: hidden;
  min-width: 450px;
}
.cover .alert .tt{
  padding:5px 0;
  font-size: 25px;
  text-align: center;
}
.cover .alert .content{
  padding: 10px 0;
}
.icon-rotate{
  width: 36px;
  height: 36px;
  background: url(../images/rotate.gif);
  margin: 0 10px;
  vertical-align: middle;
  margin-top: -3px;
}


/*20161012*/
.btn-size .icon-rec{
  display:inline-block;
  background: url(../images/mbg.png) no-repeat left center;
  background-size: 100% 100%;
  width: 58px;
  height: 27px;
  line-height: 22px;
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 12px;
  color: #FFF;
  text-align: left;
  padding-left: 5px;
}
/*20161019*/
.telebox{
  overflow: hidden;
  margin: 5px 20px;
  width: 290px;

}
.telebox .btn-conf{
  width: 70px;
  border-radius: 4px;
  height: 40px;
  line-height: 38px;
  border:2px solid rgb(228,1,119);
  color:rgb(228,1,119);
  background-color: transparent;
}
.telebox .conf{
  margin-right: 80px;
  border-bottom: 2px solid #333;
  position: relative;
}
.telebox .conf:before,
.telebox .conf:after{
  content: " ";
  position: absolute;
  display: inline-block;
  height: 5px;
  width: 2px;
  background-color: #333;
  bottom: 0;
  left: 0;
}
.telebox .conf:after{
  right: 0;
  left: auto;
}
.telebox .conf input{
  border: none;
  line-height: 38px;
  height: 38px;
  padding: 0 5px;
  font-size: 16px;
}

/*江苏容量套餐*/

.btn-sizejs{
	padding:8px 0;
	width: 100%;
	border: 1px solid #9c9c9c;
	font-size: 18px;
	position: relative;
	cursor: pointer;
}
.btn-sizejs em{
	font-weight: bold;
}
.btn-sizejs p{
	font-size: 14px;
	color: #ff6600;
}
.btn-sizejs.selected{
	border-color:#e40077;
	color: #e40077;
}
.btn-sizejs.selected p{
	color: #e40077;
}
.btn-sizejs.recom:before {
	content: "";
	display: inline-block;
	background: url(../images/recom.png) no-repeat center center;
	background-size: 100% 100%;
	width: 40px;
	height: 27px;
	position: absolute;
	top: -5px;
	left: -5px;
}
.list-btn4 .btn-sizejs.selected:after{
	content: "";
	display: inline-block;
	background-size: 100% 100%;
	width: 30px;
	height: 16px;
	position: absolute;
	bottom: -29px;
	left: 42%;
}

.btn-sizejs .icon-rec{
  display:inline-block;
  background: url(../images/mbg.png) no-repeat left center;
  background-size: 100% 100%;
  width: 58px;
  height: 27px;
  line-height: 22px;
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 12px;
  color: #fff;
  text-align: left;
  padding-left: 5px;
}