/*layout*/
body {
  min-width: 320px;
  max-width:750px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.428;
  color: #333;
  font-family: "Microsoft Yahei","微软雅黑","Helvetica Neue",Helvetica,Tahoma,sans-serif; 
}
[type="text"], [type="password"], select {
  width: 100%;
  padding: 0 2px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 4px; 
}
textarea {
  width: 100%;
  padding: 5px;
  height: 80px;
  border: none;
  border-radius: 4px; 
}
.fix-bg{
  min-height: 100vh;
  padding-bottom: 120px;
  background:url(../images/bg_02.png) no-repeat center bottom #7aa7ff;
  background-size: 100% auto;
  position: relative;
}

section {
  padding-bottom: 60px; 
}
.gray-bg{
  background-color: #efefef;
}
header{
  height: 48px;
  line-height: 48px;
  width: 100%;
  max-width: 750px;
  z-index: 100;
  background: #90c31f;;
  color:#fff;
  position: relative;
}
header h5{
  text-align: center;
  color: #fff;
  font-size: 18px;
}
header .lft{
  position: absolute;
  left: 12px;
  top:0;
}
header .rt{
  position: absolute;
  right: 12px;
  top:0;
}
.icon-back{
  background: url(../images/back.png) no-repeat center center;
  background-size: 12px auto;
  width: 20px;
  height: 28px;
  margin-right: 5px;
  margin-top: -2px;
}

.org{
  color: #ffa726;
}
.cover{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 300;
}
.cover .alert{
  position: absolute;
  background-color: #fff;
  padding: 10px 0;
  top:50%;
  left: 50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  border-radius: 10px;
  overflow: hidden;
  min-width: 300px;
  max-width: 360px;
  width:90%;
}
.cover .alert .tt{
  padding:5px 0;
  font-size: 25px;
  text-align: center;
}
.cover .alert .content{
  padding: 10px 0;
}
.cover .alert .content .taocan{
  padding: 0 20px;
  font-size: 15px;
}
.cover .alert .content .taocan dd{
  margin-bottom: 12px;
}


.but-box{
  margin:18px 20px 0;
}
.btn-submit{
  line-height: 44px;
  background: #ffa726;
  text-align: center;
  padding: 0 15px;
  min-width: 80px;
  border-radius: 8px;
  border: 0;
  color:#fff;
  font-size: 16px;
}
.but-box .btn-submit{
  width:100%;
}

.block{
  background-color: #fff;
  padding: 10px 20px;
  line-height: 40px;
  font-size: 16px;
}
.mg{
  margin-bottom: 10px;
}
.slt-box{
  background-color: #fff;
}
.slt-box .tt{
  padding: 5px 20px;
  line-height: 30px;
  border-bottom: 1px solid #eee;
}
.link{
  display: inline-block;
  padding-right: 12px;
  background: url(../images/arr.png) no-repeat right center;
  background-size: 8px auto;
}
.list-s{
  display: table;
  width: 100%;
  padding-left: 15px;
}
.list-s li{
  display: table-row;
}
.list-s li>div{
  display: table-cell;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}
.list-s li .label{
  padding-right: 14px;
  text-align: center;
  box-sizing:content-box;
  width: 46px;
}
.list-s li .label i{
  width:100%;
  background: #4ec252;
  color:#fff;
  display: inline-block;
  line-height: 28px;
  border-radius: 4px;
}
.list-s li .blk{
  width: 50%;
  float: left;
  padding-right: 12px;
}
.btn-default{
  border: 1px solid #bbb;
  text-align: center;
  width: 100%;
  line-height: 38px;
  border-radius: 8px;
  white-space: nowrap;
  position: relative;
}
@media (max-width: 320px){
  .list-s li .blk{
    padding-right: 10px;
  }
  .list-s li .blk .btn-default{
    font-size: 12px;
  }
}
.btn-default.selected{
  border-color: #ff831f;
  color: #ff831f;
}
.list-s li .blk .off:before{
  background: url(../images/tip.png) no-repeat center center;
  background-size: 100%;
  width: 40px;
  height: 18px;
  content: " ";
  position: absolute;
  left: 10px;
  top: -8px;
}
.list-s li del{
  font-size: 12px;
}
 
.desc{
  margin: 20px 15px;
  line-height: 1.5;
  font-size: 15px;
}
.desc dt{
  margin-bottom: 3px;
  font-size: 16px;
}
.desc dd{
  color: #999;
}
.btn-num{
  background: #f9a325;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  line-height: 20px;
  vertical-align: baseline;
  color: #fff;
}

.type-box{
  line-height: 1.4;
}
.type-box .btn-default{
  margin-right: 10px;
  width:100px;
  border-radius: 4px;
}

.list-s-special li .label{
  width:90px;
  text-align: right;
  padding-right: 20px;
}
.list-s-special li .label i{
  width:46px;
  text-align: center;
}

/*----*/
.banner2{
  text-align: center;
}
.title{
  padding:10px 15px;
  font-size: 18px;
}
.tab{
  display:inline-box;
  padding: 15px 15px 10px;
  overflow: hidden;
}
.tab li{
  justify-content：space-around;
  float: left;
  width: 50%;
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #e2e2e2;
}
.tab li span{
  display: inline-block;
  margin-bottom: -1px;
  border-bottom: 1px solid transparent;
}
.tab li.active span{
  color: #e40077;
  border-color: #e40077;
}

.tab-con{
  padding: 10px 20px;
}
.tab-con .dt{
  font-size: 16px;
}
.tab-con .dd+.dt{
  margin-top: 15px;
}
.green{
  color: #90c31f;
}

.list-btn{
  overflow: hidden;
}
.list-btn li{
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px 4px;
}
.list-btn3 li{
  width: 33.333%;
  padding: 10px 8px;
}
.btn-size{
  border: 2px solid #666666;
  width: 1%;
  position: relative;
  padding:15px 0;
  border-radius: 16px;
  display: table-cell;
  vertical-align: middle;
}
.btn-size .inblock{
  line-height: 20px;
}
.btn-size em{
  font-size: 20px;
  display: inline-block;
  margin-top: 4px;
}

.btn-size.selected{
  color:#e40077;
  border-color: #e40077;
}
.btn-size.recom:before{
  content:"";
  display:inline-block;
  background: url(../images/recomd.png) no-repeat center center;
  background-size: 100% 100%;
  width: 30px;
  height:18px;
  position: absolute;
  top:-5px;
  right: -5px;
}
.con-tips{
  color: #999999;
}
.con-tips:before{
  content:"";
  display: inline-block;
  width: 8px;
  height:8px;
  background-color: #ddd;
  border-radius: 100%;
}

.tab-con .dd .total{
  font-size: 24px;
  margin: 0 15px;
}
.tab-con .dd del{
  font-size: 18px;
  color: #999;
}
.btn-sub{
  line-height: 48px;
  background: #90c31f;
  text-align: center;
  padding: 0 15px;
  min-width: 80px;
  border-radius: 8px;
  border: 0;
  color:#fff;
  font-size: 16px;
}
.btn-block{
  width: 100%;
}

.tab-con dl{
  font-size: 16px;
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.5;
}
.tab-con dl dd{
  color: #666;
  font-size: 15px;
  margin-top: 3px;
  text-indent: 1em;
}
.icon-back.back2{
  background-image: url(../images/back2.png);
  background-size: auto 16px;
  margin-right: 0;
}

.high-box{
  background-color: #f1f1f1;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  padding: 20px;
}
.high-box h5{
  font-size: 22px;
}
.high-box p{
  color: #666666;
}

.icon-size2{
  border: 2px solid #9b4ecc;
  color:#9b4ecc;
  border-radius: 12px;
  min-width: 76px;
  text-align: center;
  padding: 20px 0 12px;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.high-box .inblock{
  vertical-align: middle;
  margin-left: 10px;
}
.icon-size2:before{
  content: "年";
  position: absolute;
  top:-1px;
  left: -1px;
  font-size: 12px;
  padding:2px 4px;
  background: #9b4ecc;
  color: #fff;
  border-bottom-right-radius: 4px;
}
.icon-size2.season{
  border-color: #00b7ee;
  color: #00b7ee;
}
.icon-size2.season:before{
  content: "季";
  background: #00b7ee;
}
.icon-size2.month{
  border-color: #b3d465;
  color: #b3d465;
}
.icon-size2.month:before{
  content: "月";
  background: #b3d465;
}

.list-pay{
  padding: 0 15px;
}
.list-pay li{
  padding:10px 10px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
}
.icon-pay{
  background: url(../images/fu1.png) no-repeat center center;
  background-size:100% 100%;
  width:45px;
  height: 45px;
  margin-right: 10px;
}
.icon-pay.pay2{
  background-image: url(../images/fu2.png);
}
.icon-pay.pay3{
  background-image: url(../images/fu3.png);
}
.list-pay li.selected:after{
  display: inline-block;
  content: " ";
  background: url(../images/gou.png) no-repeat center center;
  background-size:100% 100%;
  width:25px;
  height: 20px;
}

.getcode{
  padding: 20px 30px;
}
.getcode .code-box{
  margin: 0 10px;
  position: relative;
}
.getcode .code-box input{
  border:none;
  border-bottom: 1px solid #000;
  text-align: center;
  height: 48px;
  line-height: 48px;
  font-size: 18px;
}
.getcode .code-box input:focus{
  outline: none;
}
.getcode .code-box:before,
.getcode .code-box:after{
  content: " ";
  height: 5px;
  width: 1px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0; 
}
.getcode .code-box:after{
  left:auto;
  right: 0;
}
.btn-getcode{
  border: 2px solid #e40077;
  color: #e40077;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 6px;
  background-color: #fff;
  height: 48px;
}

.alert .tp{
  padding: 15px 20px;
  font-size: 16px;
}
.alert .tp h6{
  margin: 10px 0;
  font-size: 20px;
}
.icon-gou2{
  background: url(../images/gou2.png) no-repeat center center;
  background-size:100% 100%;
  width:82px;
  height: 82px;
}
.but-spe-box{
  padding-left: 20px;
  padding-right: 20px;
}

.txt-dvd2{
  overflow: hidden;
  margin-right: -20px;
}
.txt-dvd2 li{
  float: left;
  width: 48%;
  font-size: 12px;
  line-height: 1;
}
.txt-dvd2 li:last-child{
  border-left: 1px solid #ddd;
  padding-left: 18px;
  width: 52%;
}
.txt-dvd2 li em{
  font-size: 24px;
}


/********/
.list-btn-blk li{
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}
.list-btn-blk .btn-size{
  text-align: left;
  padding: 10px 20px;
}
.list-btn-blk .btn-size p{
  line-height: 30px;
}
.list-btn-blk .btn-size p em{
  margin-top: 0;
}
.list-btn-blk .btn-size>p+span.gray{
  margin-top: 5px;
  display: block;
  font-size: 12px;
}

.guid-bd{
  padding: 20px;
}
.title .txt-dvd2{
  text-align: center;
  overflow: visible;
  padding-top: 10px;
  margin-right: 0;
}
.title .txt-dvd2:after{
  display: table;
  content: " ";
  height: 0;
  font-size: 0;
  visibility: hidden;
  clear: both;
}
.title .txt-dvd2 li{
  padding-left: 0;
  font-size: 14px;
  width: 50%;
}
.title .txt-dvd2 .gray{
  top: -8px;
  position: relative;
  font-size: 14px;
}
.title .txt-dvd2 li small{
  color: #666;
  font-size: 14px;
}
.list-pay li.disabled{
  opacity: 0.4;
  color: #999;
}
.icon-size3{
  border:2px solid #e40077;
  color: #e40077;
  border-radius: 100%;
  height:76px;
  width: 76px;
  line-height: 76px;
  font-weight: bold;
}
.icon-size3 em{
  font-size: 16px;
}

.tab-dvd3 li{
  width: 33.333%;
}


/****/
.status{
  text-align: center;
  padding: 15px 10px;
  font-size: 18px;
}
.sub-box{
  padding: 5px ;
  line-height: 32px;
  border-top: 1px solid #ddd;
  margin-top: 15px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.icon-status{
  background: url(../images/ok.png) no-repeat center center;
  background-size: 100% 100%;
  width: 84px;
  height: 84px;
  margin-bottom: 15px;
}
.icon-status.s2{
  background-image: url(../images/no.png)
}
.cover .alert-ept{
  padding: 0;
}

.tuiding{
  text-align: center;
  font-size: 16px;
  margin: 15px 10px;
}
.tuiding dd{
  margin-top: 10px;
  color: #888;
}
.icon-radio{
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  margin-right:3px;
  border: 1px solid #b7b8b8;
  position: relative;
  vertical-align: middle;
  margin-top: -2px;
}
.icon-radio.checked:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  margin-top: -6px;
  margin-left: -6px;
  background-color: #333;
}

.but-tips{
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
.but-tips p{
  margin-bottom: 10px;
}

/*20161012*/
.btn-size .icon-rec{
  display:inline-block;
  background: url(../images/ibg.png) no-repeat 0 center;
  background-size: auto 100%;
  padding-left: 14px;
  padding-right: 5px;
  text-align: right;
  height:18px;
  font-size: 10px;
  line-height: 18px;
  position: absolute;
  color: #fff;
  top:-5px;
  right: -5px;
}

/*20161019*/
.telebox{
  overflow: hidden;
  margin: 15px 20px;
}
.telebox .btn-conf{
  width: 70px;
  border-radius: 4px;
  height: 40px;
  line-height: 38px;
  border:2px solid rgb(228,1,119);
  color:rgb(228,1,119);
  background-color: transparent;
}
.telebox .conf{
  margin-right: 80px;
  border-bottom: 2px solid #333;
  position: relative;
}
.telebox .conf:before,
.telebox .conf:after{
  content: " ";
  position: absolute;
  display: inline-block;
  height: 5px;
  width: 2px;
  background-color: #333;
  bottom: 0;
  left: 0;
}
.telebox .conf:after{
  right: 0;
  left: auto;
}
.telebox .conf input{
  border: none;
  line-height: 38px;
  height: 38px;
  padding: 0 5px;
  font-size: 16px;
}

/* 套餐活动说明角标 */
.jb{
  display:inline-block;
  background: url(../images/jb.png) no-repeat 0 center;	
  background-size: auto 100%;
  float:left;
  margin-right:-15px;
  margin-left:15px;
}

/* 加载中的样式 */
.icon-rotate{
  width: 36px;
  height: 36px;
  background: url(../images/rotate.gif);
  margin: 0 10px;
  vertical-align: middle;
  margin-top: -3px;
}

/*江苏空间扩容*/

.list-btnjs{
  overflow: hidden;
}
.list-btnjs li{
  float: left;
  width: 33%;
  text-align: center;
  padding: 10px 12px;
}

.btn-sizejs{
  border: 3px solid #666666;
  width: 1%;
  position: relative;
  padding:30px 0;
  border-radius: 16px;
  display: table-cell;
  vertical-align: middle;
}
.btn-sizejs .inblock{
  line-height: 20px;
}
.btn-sizejs em{
  font-size: 20px;
  display: inline-block;
  margin-top: 4px;
}

.btn-sizejs.selected{
  color:#e40077;
  border-color: #e40077;
}
.btn-sizejs.recom:before{
  content:"";
  display:inline-block;
  background: url(../images/recomd.png) no-repeat center center;
  background-size: 100% 100%;
  width: 30px;
  height:18px;
  position: absolute;
  top:-5px;
  right: -5px;
}
.list-btn-blk .btn-sizejs{
  text-align: left;
  padding: 10px 20px;
}
.list-btn-blk .btn-sizejs p{
  line-height: 30px;
}
.list-btn-blk .btn-sizejs p em{
  margin-top: 0;
}
.list-btn-blk .btn-sizejs>p+span.gray{
  margin-top: 5px;
  display: block;
  font-size: 12px;
}

.btn-sizejs .icon-rec{
  display:inline-block;
  background: url(../images/ibg.png) no-repeat 0 center;
  background-size: auto 100%;
  padding-left: 14px;
  padding-right: 5px;
  text-align: right;
  height:18px;
  font-size: 10px;
  line-height: 18px;
  position: absolute;
  color: #fff;
  top:-5px;
  right: -5px;
}